ul.menu {
	margin: 0px;	
	padding: 0px;	
}

ul.menu li {
/*width: 220px;*/
  float: left;
	list-style: none;
}

ul.menu li a {
  margin: 0px;
	padding: 4px 12px;
	font-weight: bold;
	color: #000;
	background: #ccc;
	display: block;
	text-decoration: none;	
	border: 0px;
	border-right: 1px solid #555;
  white-space: nowrap;
}

ul.menu li:last-child a {
  border-right: none;
} /* Doesn't work in IE */

ul.menu li a:hover {
  background-color: #EEE8AA;
}

ul.menu ul {
/*position: absolute;*/
  position: relative;
  width: 220px;
	margin: 0px;	
	padding: 0px;	
  display: none;
}

ul.menu li li {
  float: none;
	display: inline;
}

ul.menu li li a {
	background: #eee;
	border: 0px;
	border-bottom: 1px solid #ccc;
}

ul.menu ul ul {
/*position: relative;*/
	left: 20%;
	top: inherit;
}

ul.menu li li li a {
	background: #f6f6f6;
}
