body {
  font-size: 12pt;
  background-color: #d0d0ff;
}

div#tabs {
	font-size: 70%;
}

select {
  font-family: Tahoma;
  font-size: 10pt;
}

input:text {
  border-width: 1px;
  border-style: solid;
  background-color: #fafafa;
}

textarea {
  border-width: 1px;
  border-style: solid;
  background-color: #fafafa;
}

pre {
  font-family: Tahoma;
  font-size: 10pt;
  margin: 0;
}

a {
	text-decoration: none;	
  color: Navy;
}

table {
  border-collapse: collapse;
}

th {
  background-color: #e0e0ff;
}

td {
  vertical-align: top;
  padding: .3em 1em;
}

.highlighted {
  background-color: #bbf !important;
}

tr.highlighted td {
  background-color: #bbf !important;
}

.ui-autocomplete-loading {
  background: white url('images/ui-anim_basic_16x16.gif') right center no-repeat;
}
